Done by:
  Madhumitha R
  20MIA1045

**Assignment 1 - Artificial Intelligence**

In [ ]:
# Importing Libraries

import pandas as pd
import numpy as np

In [ ]:
# Creating a random array of size 10 rows and 4 columns

arr1 = np.random.randint(100, size = (10,4))

In [ ]:
# Creating a Pandas dataframe

df = pd.DataFrame()
df[['Col1', 'Col2', 'Col3', 'Col4']] = arr1

In [ ]:
df.head()

   Col1  Col2  Col3  Col4
0    94    69    32    68
1    49    93    27    53
2    89    70    29    75
3    24    44    75     8
4    19    76    85    40

In [ ]:
# Renaming the columns

df = df.rename(columns = {'Col1':'Random value 1', 'Col2':'Random value 2', 'Col3':'Random value 3', 'Col4':'Random value 4'})

In [ ]:
# Datafram statistics

df.describe()

       Random value 1  Random value 2  Random value 3  Random value 4
count       10.000000       10.000000       10.000000       10.000000
mean        54.900000       65.800000       51.100000       55.800000
std         31.253266       19.987774       29.061047       23.705602
min         11.000000       32.000000        4.000000        8.000000
25%         27.250000       50.250000       29.750000       43.250000
50%         56.500000       71.000000       49.000000       58.000000
75%         85.000000       75.250000       75.750000       73.250000
max         94.000000       93.000000       85.000000       87.000000

In [ ]:
#Checking for Null values

df.isnull()

   Random value 1  Random value 2  Random value 3  Random value 4
0           False           False           False           False
1           False           False           False           False
2           False           False           False           False
3           False           False           False           False
4           False           False           False           False
5           False           False           False           False
6           False           False           False           False
7           False           False           False           False
8           False           False           False           False
9           False           False           False           False

In [ ]:
df.isnull().sum()

Random value 1    0
Random value 2    0
Random value 3    0
Random value 4    0
dtype: int64

In [ ]:
# Displaying columns with location method

df.loc[:,['Random value 2','Random value 3']]

   Random value 2  Random value 3
0              69              32
1              93              27
2              70              29
3              44              75
4              76              85
5              73              76
6              72              64
7              42              34
8              32              85
9              87               4

In [ ]:
# Displaying columns with index location method

df.iloc[:,1:3]

   Random value 2  Random value 3
0              69              32
1              93              27
2              70              29
3              44              75
4              76              85
5              73              76
6              72              64
7              42              34
8              32              85
9              87               4